

/* Variables */

:root {
  --background-color: #293449;
  --background-special-color: #32425c;
  --background-header-color: #f1f5f7;
  --background-materials-color: #ffbf47;
  --background-tools-color: #3bbce3;
  --background-technics-color: #dc91d8;
  --background-sales-color: #8ed78f;
  --background-sections-color: #f9f5f0;
  --background-filter-color: #f7f3ec;
  --background-popup-button: #f4f4f4;
  --backgrount-popup: #f1f1f1;
  --active-background:  #1d2739;
  --active-header-color: #161d29;
  --active-button-color: #ba2732;
  --hover-special-button: #5fbb2d;
  --hover-button-color: #ca2c37;
  --filter-controls-color: #d7dcde;
  --filter-toggle-color: #ababab;
  --text-light-color: #ffffff;
  --text-dark-color: #000000;
  --text-footer-color: #ffd180;
  --text-addres-color: #f3f7f9;
  --link-footer-color: #ffda96;
  --button-color: #ee3643;
  --special-button-color: #63a63e;
  --border-color: #e5e5e5;
  --border-logo-color: #eaeaea;
  --border-popup-color: #c5c5c5;
  --old-price-color: #a9a9a9;
}

/* Global */

.page-body {
  min-width: 1200px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0 10px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-dark-color);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.slider-img {
  max-width: 100%;
  height: auto;
}

.page-body-catalog {
  font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  color: var(--text-dark-color);
}

.page {
  height: 100%;
}

/* Header*/

.container {
  width: 940px;
  margin: 0 auto;
}

.flex-wrap {
  display: flex;
}

.header-top .container {
  position: relative;
  display: flex;
  justify-content: center;
}

.header-top {
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  min-height: 42px;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.header-top a, .header-bottom a {
  text-decoration: none;
}

.main-navigation {
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
}

.logo-button {
  padding-top: 13px;
  padding-bottom: 14px;
  padding-left: 54px;
  padding-right: 56px;
  margin-bottom: -5px;
  background-color: var(--button-color);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.logo-button:active,
.logo-footer:active {
  background-color: var(--active-button-color);
}

.logo-footer {
  padding-top: 26px;
  padding-bottom: 22px;
  padding-left: 39px;
  padding-right: 42px;
  background-color: var(--button-color);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.header-search-form {
  width: 270px;
  margin: 0;
  padding: 0;
  padding-left: 43px;
  color: var(--text-light-color);
  background-color: var(--background-color);
  border: none;
}

.header-search-form:hover {
  background-color: var(--background-color);
}

.header-search-form:focus {
  color: var(--text-dark-color);
  background-color: var(--text-light-color);
}

.header-search-label {
  position: absolute;
  top: 13px;
  left: 238px;
  width: 17px;
  height: 17px;
  background: transparent;
  border: none;
  opacity: 0.3;
}

.header-search-form:hover ~ .header-search-label,
.header-search-form:focus ~ .header-search-label,
.header-search-label:hover,
.header-search-label:focus {
  opacity: 1;
}

.header-search-form:focus ~ .header-search-label path {
  fill: var(--button-color);
}

.bookmarks,
.cart,
.order {
  position: relative;
  display: block;
  flex-shrink: 0;
  margin: 0;
  margin-left: -1px;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 14px;
  color: var(--text-light-color);
}

.bookmarks {
  width: 108px;
  padding-left: 40px;
}

.bookmarks::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icons/icon-bookmarks.svg");
  opacity: 0.3;
}

.cart {
  width: 100px;
  padding-left: 50px;
}

.cart::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 25px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/icon-cart.svg");
  opacity: 0.3;
}

.bookmarks:hover::before,
.bookmarks:focus::before,
.cart:hover::before,
.cart:focus::before {
  opacity: 1;
}

.bookmarks:active::before,
.cart:active::before {
  opacity: 0.5;
}

.order {
  min-width: 150px;
  text-align: center;
}

.bookmarks:hover,
.bookmarks:focus,
.cart:hover,
.cart:focus {
  background-color: var(--background-color);
}

.bookmarks:active,
.cart:active {
  background-color: var(--active-header-color);
}

.order {
  background-color: var(--special-button-color);
  padding-bottom: 13px;
}

.order:hover,
.order:focus {
  background-color: var(--hover-special-button);
}

.order:active {
  color: rgba(255, 255, 255, 0.5);
}

.header-bottom .flex-wrap {
  justify-content: flex-start;
  padding-top: 42px;
}

.header-bottom {
  margin: 0;
  padding: 0;
  background-color: var(--text-addres-color);
}

.header-bottom h1 {
  display: inline-block;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  flex-shrink: 0;
  width: 200px;
  margin: 0;
  margin-right: 67px;
  padding: 0;
  padding-left: 31px;
  vertical-align: baseline;
  color: var(--button-color);
}

.header-contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-left: 22px;
}

.header-contacts-phone a {
  position: relative;
  margin: 0;
  padding: 9px 49px 8px 75px;
  font-size: 21px;
  line-height: 21px;
  color: var(--button-color);
  white-space: nowrap;
  border: 3px solid var(--text-light-color);
}

.header-contacts-phone a::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 36px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icons/phone-icon.svg");
}

.header-contacts-address {
  margin: 0;
  padding: 0;
  padding-top: 11px;
  font-size: 14px;
  line-height: 24px;
  color: var(--background-special-color);
}

.user-area-options {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-top: 14px;
}

.user-area-options li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-user-login {
  position: relative;
  margin-right: 10px;
  padding: 12px 26px 12px 47px;
}

.button-user-login svg {
  position: absolute;
  top: 14px;
  left: 14px;
}

.button-user-login:hover path,
.button-user-login:focus path {
  fill: var(--background-special-color);
}

.button-user-login:active path {
  fill: var(--border-popup-color);
}

.button-user-register {
  padding: 12px 24px 12px;
}

.button-user-login,
.button-user-register {
  font-size: 21px;
  line-height: 21px;
  color: var(--text-dark-color);
  background-color: var(--text-light-color);
}

.button-user-login:hover,
.button-user-login:focus,
.button-user-register:hover,
.button-user-register:focus {
  color: var(--button-color);
}

.button-user-login:active,
.button-user-register:active {
  color: var(--border-popup-color);
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 17px;
  font-weight: normal;
  min-height: 60px;
  margin: 0;
  margin-top: 39px;
  padding: 0;
  color: var(--text-light-color);
  background-color: var(--background-special-color);
  box-shadow: inset 0 -5px 0 -0 var(--background-color);
}

.main-menu a {
  display: block;
  margin: 0;
  padding: 21px 30px 21px;
  color: var(--text-light-color);
}

.main-menu li {
  list-style: none;
}

.main-menu a:hover,
.main-menu a:focus {
  background-color: var(--background-color);
}

.main-menu a:active {
  color: rgb(255, 255, 255, 0.5);
  background-color: var(--active-background);
  box-shadow: inset 0px -5px 0px var(--background-color);
}

.user-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 11px;
  margin-left: auto;
  padding: 0;
}

.user-name {
  position: relative;
  margin: 0;
  padding: 12px 68px 12px 46px;
  font-size: 21px;
  line-height: 21px;
  color: var(--text-dark-color);
  background-color: var(--text-light-color);
}

.user-name-link {
  color: inherit;
}

.user-name-profile {
  display: block;
}

.user-name svg {
  position: absolute;
}

.user-icon-face {
  top: 13px;
  left: 13px;
}

.user-icon-logout {
  top: 13px;
  right: 10px;
}

.user-name-link:hover path,
.user-name-link:focus path {
  fill: var (var(--background-special-color));
}

.user-name a:active {
  color: #bfc2c4;;
}

.user-name-profile:active path,
.user-name-logout:active path,
.user-name-link:active path {
  fill: var(--border-popup-color);
}

.user-links {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  padding-left: 17px;
}

.user-links a {
  font-size: 16px;
  line-height: 18px;
  color: var(--background-special-color);
  text-decoration: underline;
}

.user-links a:hover,
.user-links a:focus {
  color: var(--button-color);
}

.user-links a:active {
  color: #c5cad0;
}

.user-my-orders {
  position: relative;
  margin-right: 32px;
}

.user-my-orders::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -19px;
  width: 4px;
  height: 4px;
  background-color: var(--background-special-color);
  border-radius: 50%;
}

/*Visually-hidden*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Promo*/

.promo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--text-light-color);
  width: 940px;
  margin: 5px auto;
  margin-top: 61px;
  margin-bottom: 59px;
}

.list-product-promo {
  display: contents;
}

.list-product-promo a {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -18px;
}

.list-product-promo li {
  display: block;
  width: 300px;
  height: 123px;
}

.list-product-promo h4 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
  padding-left: 23px;
}

.slider {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.item-promo-materials {
  position: relative;
  font-weight: normal;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: var(--background-materials-color);
}

.item-promo-materials::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 43px;
  height: 65px;
  width: 44px;
  background-image: url("../img/icons/icon-materials.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item-promo-tools {
  position: relative;
  font-weight: normal;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: var(--background-tools-color);
}

.item-promo-tools::after {
  content: "";
  position: absolute;
  top: 34px;
  right: 31px;
  height: 61px;
  width: 75px;
  background-image: url("../img/icons/icon-tools.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item-promo-technics {
  position: relative;
  font-weight: normal;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-color: var(--background-technics-color);
}

.item-promo-technics::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 31px;
  height: 62px;
  width: 78px;
  background-image: url("../img/icons/icon-technics.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item-promo-sales {
  position: relative;
  font-weight: normal;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: var(--background-sales-color);
}

.item-promo-sales::after {
  content: "";
  position: absolute;
  top: 27px;
  right: 45px;
  height: 71px;
  width: 59px;
  background-image: url("../img/icons/icon-sales.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item-promo-delivery {
  position: relative;
  font-weight: normal;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background-color: var(--background-materials-color);
}

.item-promo-delivery::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;
  height: 63px;
  width: 78px;
  background-image: url("../img/icons/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*Slider*/

.slider {
  position: relative;
  width: 620px;
  height: 266px;
  background-image: url(..//img/slider-main.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-item h4 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin-top: 23px;
  margin-left: 24px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.slider-item p {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 0px;
  margin-left: 24px;
  margin-bottom: 113px;
}

.slider-controls {
  position: absolute;
  bottom: 36px;
  left: 295px;
  z-index: 20;
  display: flex;
  width: 30px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: var(--text-light-color) 2px solid;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current {
  background-color: var(--button-color);
}

.slide-2 {
  background-image: url(..//img/slider-2.jpg);
}

/*goods*/

.goods {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.popular-goods {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  width: 940px;
  margin: 0 auto;
}

.catalog-item-options {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  list-style: none;
  width: 218px;
  height: 88px;
  padding: 45px 0;
}

.catalog-item:hover .catalog-item-options,
.catalog-item:focus .catalog-item-options {
  display: block;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.button-purchase-item {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--text-light-color);
  text-transform: uppercase;
  background-color: var(--special-button-color);
  border-radius: 3px;
  box-shadow: 0 3px 0 #367315;
}

.button-purchase-item,
.button-bookmark-item {
  display: block;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 8px 0;
}

.button-purchase-item:hover,
.button-purchase-item:focus {
  background-color: var(--hover-special-button);
}

.button-purchase-item:active {
  background-color: #518534;
  box-shadow: 0 3px 0 #518534;
}

.button-bookmark-item {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--background-special-color);
  text-transform: uppercase;
  background-color: var(--text-light-color);
  border: 3px solid var(--special-button-color);
  border-radius: 2px;
}

.button-bookmark-item:hover,
.button-bookmark-item:focus {
  border-color: var(--background-special-color);
}

.button-bookmark-item:active {
  color: #d0d2d6;
  border-color: #c1c6ce;
}

.inner-popular-goods, .inner-brands {
  display: flex;
  justify-content: space-between;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  height: 89px;
  padding-left: 28px;
  color: var(--background-special-color);
  background-color: var(--background-sections-color);
}

.inner-popular-goods h3,
.inner-brands h3 {
  font-size: 29px;
  line-height: 29px;
  text-transform: uppercase;
  margin-top: 31px;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  margin-left: 14px;
  margin-top: 10px;
  margin-bottom: 22px;
  padding: 0px;
  list-style: none;
}

.goods-item {
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 18px;
}

.goods-item img {
  max-width: 128px;
  max-height: 144px;
}

.goods-item h4 {
  margin-right: 33px;
  margin-left: 30px;
  text-align: center;
}

.goods-item p {
  text-align: center;
}

.goods-item:nth-child(3n) {
  margin-right: 0;
}

.popular-goods-list {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 21px;
  margin-bottom: 62px;
  margin-left: -40px;
  margin-right: 0px;
  list-style: none;
}

.popular-goods-item,
.goods-item {
  position: relative;
  padding: 0px;
  border: 1px solid var(--border-logo-color);
  overflow: hidden;
}

.cross-out {
  font-size: 17px;
  line-height: 18px;
  margin-top: -18px;
  text-align: center;
  text-decoration: line-through;
  color: var(--old-price-color);
}

.goods-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -3px;
  margin-top: 3px;
  width: 100%;
  height: 50%;
}

.goods-name {
  text-align: center;
  margin-top: 13px;
  margin-left: 26px;
  margin-right: 27px;
}

/*Brands*/

.brands {
  width: 940px;
  margin: 0 auto;
}

.brands-list {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: 145px 145px;
  grid-gap: 20px;
  margin-top: 20px;
  margin-bottom: 70px;
  margin-left: -41px;
  margin-right: 0px;
}

.brands-item img {
  display: block;
  max-width: 100%;
  width: 145px;
  object-fit: contain;
}

.brands-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.brands-item {
  list-style: none;
  border: 1px solid var(--border-logo-color);
}

.brands-item:hover,
.brands-item:focus {
  z-index: 10;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-item:active {
  z-index: 10;
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.brands-item:active img {
  opacity: 0.3;
}

.goods-item, .popular-goods-item {
  border: 1px solid var(--border-color);
}

/*Service*/

.service-bar {
  background-color: var(--background-header-color);
}

.service {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  width: 940px;
  margin: 0 auto;
  padding-top: 59px;
  padding-bottom: 73px;
  color: var(--basic-black);
  background-color: var(--background-header-color);
}

.service-title {
  font-size: 30px;
  line-height: 30px;
  margin: 0px;
  padding-top: 8px;
  text-transform: uppercase;
  color: var(--text-dark-color);
}

.service-info {
  padding: 0px;
  margin: 0px;
}

.service-info p {
  width: 400px;
  margin-top: 25px;
  margin-bottom: 59px;
  padding: 0px;
}

.service-menu-list {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.service-menu-list a {
  text-decoration: none;
  color: var(--text-light-color);
  padding: 0px;
  margin: 0px;
}

.service-info-item p {
  width: 275px;
  padding-top: 16px;
}

.service-info-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-left: 80px;
}

.service-info-title {
  text-transform: uppercase;
  color: var(--background-special-color);
  padding: 0px;
  padding-top: 7px;
  margin: 0px;
}

.slider-service {
  display: flex;
}

.slider-service-control button {
  display: flex;
  flex-direction: column;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 21px;
  line-height: 30px;
  width: 240px;
  height: 61px;
  color: var(--text-light-color);
  background-color: var(--background-special-color);
  background-image: url(..//img/line-shadow.png);
  background-repeat: no-repeat;
  background-position: right -60px;
  padding-top: 13.5px;
  padding-bottom: 17.5px;
  padding-left: 22px;
  padding-right: 140px;
}

.slider-service-control {
  position: relative;
  margin-top: 11px;
}

.slider-service-control::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  top: -44px;
  right: 0px;
  background-image: url(../img/line-shadow.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.slider-service-control li {
  list-style: none;
  margin-left: -40px;
}

.slider-service-control button {
  border: none;
  box-shadow: 0px 1px 0px var(--background-color), inset 0px 1px 0px #405069;
}

.slider-service-control button:hover:not(.current) {
  background-color: var(--background-color)
}

.service-info-item {
  display: none;
}

.item-current {
  display: block;
}

.slider-service-control .current {
  background-color: var(--text-light-color);
  color: var(--background-special-color);
}

.service-delivery,
.service-guarantee,
.service-credit {
  position: relative;
}

.service-delivery::after{
  content: "";
  position: absolute;
  width: 468px;
  height: 261px;
  top: 28px;
  right: -343px;
  background-image: url(../img/service-delivery.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-guarantee::after{
  content: "";
  position: absolute;
  width: 468px;
  height: 261px;
  top: 28px;
  right: -343px;
  background-image: url(../img/service-guarantee.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-credit::after{
  content: "";
  position: absolute;
  width: 468px;
  height: 261px;
  top: 28px;
  right: -343px;
  background-image: url(../img/service-credit.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*About*/

.about-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0px;
  margin-top: 68px;
}

.transport-companies-item {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-top: 12px;
  padding: 0px;
}

.transport-companies-item li {
  position: relative;
  list-style: none;
  padding-left: 38px;
  padding-top: 12px;
}

.transport-companies-item li::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 1px;
  width: 25px;
  height: 2px;
  background-image: url("../img/icons/icon-decor-line.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about-product {
  width: 100%;
  margin: 0px;
  background-color: var(--background-header-color);
}

.about-product-bar {
  width: 940px;
  margin: 0 auto;
}

.about-block {
  display: flex;
  width: 940px;
  margin-top: -3;
  margin: auto;
  margin-bottom: 69px;
}

.about-product-bar h3 {
  padding-top: 64px;
  padding-bottom: 25px;
}

.about-product-bar p {
  padding-bottom: 67px;
}

.block-info {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 460px;
  height: 147px;
}

.contacts {
  display: flex;
  flex-direction: column;
  padding-left: 180px;
}

.contacts p {
  width: 180px;
}

/*footer*/

.main-footer {
  font-size: 18px;
  line-height: 24px;
  padding-top: 19px;
  color: var(--background-header-color);
  background-color: var(--background-special-color);
}

.main-footer-bar {
  display: grid;
  grid-template-columns: 336px 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  width: 940px;
  min-height: 193px;
  margin: 0 auto;
}

.footer-navigation li {
  padding: 0px auto;
}

.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  text-decoration: underline;
}

.footer-navigation a:active,
.footer-site-navigation a:active {
  opacity: 0.5;
  text-decoration: none ;
}

.footer-phone, .footer-address {
  color: var(--text-addres);
  text-decoration: none;
  margin-top: 42px;
  margin-left: 4px;
  margin-bottom: 0;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.footer-site-navigation {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-left: 65px;
  padding-top: 16px;
}

.footer-navigation a {
  text-decoration: none;
  color: var(--background-header-color);
}

.footer-site-navigation a {
  text-decoration: none;
  color: var(--text-footer-color);
}

.footer-logo {
  padding-top: 26px;
  padding-bottom: 21px;
  padding-left: 42px;
  padding-right: 41px;
}

.social-footer {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-top: -19px;
  padding-bottom: 23px;
  color: var(--basic-white);
  background-color: var(--background-color);
}

.social-footer-info {
  padding-top: 36px;
  padding-left: 3px;
  padding-bottom: 13px;
}

.social-footer-info p {
  margin: 0px;
}

.social-footer-bar {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.social-icon {
  display: flex;
  padding-top: 18px;
  padding-left: 42px;
  list-style: none;
}

.social-icon li {
  padding-left: 1px;
}

.contacts-footer {
  display: grid;
  grid-template-columns: 126px 109px;
  grid-column-gap: 61px;
  padding-top: 19px;
}

.contacts-footer p {
  padding: 0px;
}

.contacts-footer a:focus,
.contacts-footer a:hover {
  text-decoration: underline;
}

.contacts-footer a:active {
  color: var(--active-button-color);
  text-decoration: none;
}

.mail, .footer-copyright {
  color: var(--text-footer-color);
  text-decoration: none;
}

/*Button*/

.button {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  color: var(--text-light-color);
  background-color: var(--button-color);
}

.slide-button {
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 46px;
  padding-right: 42px;
  margin-left: 24px;
}

.slide-button:focus,
.slide-button:hover,
.inner-button-goods:focus,
.inner-button-goods:hover,
.inner-button-brands:focus,
.inner-button-brands:hover,
.button-about:focus,
.button-about:hover,
.button-contacts:focus,
.button-contacts:hover {
  background-color: var(--hover-button-color);
}

.slide-button:active,
.inner-button-goods:active,
.inner-button-goods:active,
.button-about:active,
.button-contacts:active {
  background-color: var(--active-button-color);
}

.button-order {
  padding-top: 9px;
  padding-left: 23px;
  padding-right: 15px;
  margin-right: 0;
  color: inherit;
  text-decoration: none;
  background-color: var(--special-button-color);
}

.button-login, .button-registration {
  display: inline-block;
  margin-left: 10px;
  text-transform: none;
  background-color: var(--text-light-color);
}

.promo-button {
  padding: auto;
  margin-left: 23px;
  width: 135px;
  background-color: rgb(255,255,255,0.3);
}

.promo-button:hover,
.promo-button:focus {
  background-color: rgb(197,197,197,0.3);
}

.button-promo:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.inner-button-goods {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 25px;
  margin-right: 15px;
  margin-bottom: 26px;
  padding-top: 11px;
  width: 192px;
}

.inner-button-brands {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 25px;
  margin-right: 20px;
  margin-bottom: 26px;
  padding-top: 11px;
  width: 192px;
}

.service-button {
  padding: 13px 46px;
}

.button-price {
  width: 141px;
  height: 38px;
  margin: auto;
  margin-bottom: 18px;
  margin-left: 43px;
  padding-left: 30px;
  padding-top: 6px;
  vertical-align: middle;
  color: var(--text-light-color);
  background-image: url(../img/price-button.png);
  background-repeat: no-repeat;
}

.button-selected {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid var(--border-color);
  background-color: var(--text-light-color);
}

.button-contacts {
  margin-top: 25px;
  margin-left: 1px;
  margin-right: -1px;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 4px;
}

.button-about {
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 42px;
  padding-right: 40px;
  margin: 0px;
  margin-top: 1px;
}

.button-popup {
  font-size: 14px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 192px;
  text-align: center;
  color: var(--text-light-color);
  text-transform: uppercase;
  border-radius: 2px;
}

.button-added-close {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  min-width: 220px;
  margin: 0;
  padding: 10px 0 10px;
  background-color: var(--text-light-color);
  color: var(--text-dark-color);
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: linear-gradient(0deg, #212A3A, #212A3A);
  color: var(--text-light-color);
}

.social-button:hover path,
.social-button:focus path,
.social-button:active path{
  fill: var(--button-color);
}

/*text*/

.text-info {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  padding-top: 8px;
  padding-bottom: 21px;
}

.text-info-bottom {
  margin-top: -15px;
  width: 400px;
}

/*flag-new*/

.new {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  text-transform: uppercase;
  top: -7px;
  right: -28px;
  padding: 6px 40px;
  transform: rotate(45deg);
  color: var(--text-light-color);
  background-color: var(--button-color);
  z-index: 1;
}

/*breadcrumbs*/

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  margin: 0px;
  margin-top: 24px;
  margin-bottom: -4px;
  padding: 0px;
  text-transform: uppercase;
  list-style: none;
  grid-column: 1 / -1;
}

.breadcrumbs li {
  position: relative;
  margin: 0px;
  margin-right: 49px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 3px;
  right: -19px;
  background-image: url(../img/icons/icon-decor-arrow-pointer.svg);
}

.breadcrumbs li:last-child {
  margin-right: 0px;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
  text-decoration: none;
  color: inherit;
}

.icon-home {
  position: relative;
  padding-left: 20px;
}

.icon-home::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 12px;
  top: 3px;
  left: 0px;
  background-image: url(../img/icons/icon-home.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*catalog*/

.container-catalog-bar {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
  width: 940px;
  margin: 0 auto;
}

.cart-full,
.bookmarks-full {
  background-color: var(--button-color);
}

/*filter block*/

.filter {
  width: 220px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
  border: none;
}

.filter-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 19px;
  margin-top: -7px;
  padding-top: 9px;
  padding-left: 19px;
  padding-bottom: 8px;
  background-color: var(--background-filter-color);
}

.category-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.filter-option {
  margin-bottom: 20px;
  margin-left: 35px;
}

.filter-item {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 23px;
  height: 23px;
  background-image: url(../img/icons/icon-checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url(../img/icons/icon-checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 26px;
  height: 26px;
  background-image: url(..//img/icons/icon-radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 26px;
  height: 26px;
  background-image: url(..//img/icons/icon-radio-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-item-range {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 220px;
  margin-top: 11px;
}

.filter-item-range legend {
  font-size: 19px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--background-filter-color);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--filter-controls-color);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--text-light-color);
  background-color: var(--filter-toggle-color);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgb(171,171,171,0.3);
  cursor: pointer;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 140px;
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  width: 85px;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: var(--background-filter-color);
}

.button-selected {
  padding: 10px;
  width: 100%;
}

.catalog-sorting {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;
  margin-left: 22px;
  margin-top: -7px;
  padding-left: 3px;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.sort-by-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-sorting h3 {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  margin: 0;
  padding: 10px 0 10px 16px;
}

.sort-by {
  display: flex;
  flex-wrap: wrap;
  width: 445px;
  margin: 0;
  padding: 9px 12px 0 0;
}

.sort-by li {
  list-style: none;
}

.sorting-link {
  margin-right: 68px;
  text-decoration: none;
}

/*title catalog*/

.page-catalog-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
  text-transform: uppercase;
  color: var(--background-special-color);
  background-color: var(--background-header-color);
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

/*pagination*/

.pagination-list {
  display: flex;
  flex-wrap: nowrap;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  grid-column: 1 / -1;
  grid-row: -2 / -3;
}

.pagination-item a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  color: var(--text-dark-color);
}

.pagination-item-current a{
  border: 1px solid var(--button-color);
  border-radius: 2px;
  background-color: var(--button-color);
  color: var(--text-light-color);
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

/* popup */

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  margin: auto;
  background-color: var(--text-light-color);
}

.popup-contact-us {
  width: 620px;
  min-height: 430px;
  margin: 0 auto;
  padding: 0;
  border-top: 7px solid var(--button-color);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.popup-contact-us fieldset {
  margin: 0;
  margin-top: 45px;
  margin-bottom: 37px;
  padding: 0;
  border: none;
}

.popup-contact-us label {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.popup-contact-us .button-popup {
  margin: 0 auto;
  padding: 0;
  border: none;
}

.contact-us-container,
.item-added-container {
  width: 460px;
  margin: 0 auto;
}

.text-field-wrap {
  display: flex;
  justify-content: space-between;
}

.flex-wrap {
  display: flex;

}

.popup-text-field {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-left: 14px;
  border: 2px solid var(--border-popup-color);
  border-radius: 2px;
}

.text-field-small {
  width: 220px;
  min-height: 38px;
  margin-bottom: 19px;
}

.text-field-big {
  width: 460px;
  min-height: 114px;
  margin-top: 10px;
  padding-top: 10px;
  resize: none;
}

.popup-submit-background {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 112px;
  background-color: var(--background-popup-button);
}

.popup-submit-background .button {
  width: 460px;
  padding: 10px 0 10px;
}

.popup-cross {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 9px;
  right: 9px;
  background: url("../img/icons/icon-popup-contact-us-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  border: none;
  z-index: 503;
}

.popup-map {
  width: 940px;
  height: 446px;
  overflow: hidden;
  border-top: 7px solid var(--button-color);
  box-shadow: 0 0 16px 8px rgba(47, 42, 43, 0.5);
}

.popup-item-added {
  width: 620px;
  margin: 0 auto;
  border-top: 7px solid var(--button-color);
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.popup-item-added h2 {
  position: relative;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  padding: 63px 124px 68px 179px;
}

.popup-item-added h2::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 82px;
  width: 66px;
  height: 66px;
  background-image: url("../img/icons/icon-mark.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.item-added-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding-top: 37px;
}

.popup-controls-background {
  min-height: 112px;
  background-color: var(--backgrount-popup);
}
