/* Variables */

:root {
  --background-color: #293449;
  --background-special-color: #32425C;
  --background-header-color: #F1F5F7;
  --background-materials-color: #FFBF47;
  --background-tools-color: #3BBCE3;
  --background-technics-color: #DC91D8;
  --background-sales-color: #8ED78F;
  --background-delivery-color: #FFC047;
  --background-sections-color: #F9F5F0;
  --background-filter-color: #F7F3EC;
  --text-light-color: #FFFFFF;
  --text-dark-color: #000000;
  --text-footer-color: #FFD180;
  --text-addres-color: #F3F7F9;
  --link-footer-color: #FFDA96;
  --button-color: #EE3643;
  --special-button-color: #63A63E;
  --border-color: #E5E5E5;
}

/* Global */

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-dark-color);
}

.slider-img {
  max-width: 100%;
  height: auto;
}

.page-body-catalog {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  color: var(--text-dark-color);
}

/*Header*/

.main-header {
  background-color: var(--background-header-color);
}

.main-header-logo,
.footer-logo {
  background-color: var(--button-color);
}

.users-panel {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-light-color);
  background-color: var(--background-color);
}

.bookmarks-link,
.basket-link {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: var(--text-light-color);
}

.main-heading {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  text-align: left;
  color: var(--button-color);
}

.header-phone {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
  color: var(--button-color);
  border: 3px solid var(--text-light-color);
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: var(--background-special-color);
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: var(--text-dark-color);
}

.user-navigation {
  list-style: none;
}

.main-navigation {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--background-special-color);
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  text-decoration: none;
  color: var(--text-light-color);
}

/*visually-hidden*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Promo*/

.promo {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--text-light-color);
}

.card-list {
  list-style: none;
}

.card-item-materials {
  width: 300px;
  height: 123px;
  background-color: var(--background-materials-color);
}

.card-item-tools {
  width: 300px;
  height: 123px;
  background-color: var(--background-tools-color);
}

.card-item-technics {
  width: 300px;
  height: 123px;
  background-color: var(--background-technics-color);
}

.card-item-sales {
  width: 300px;
  height: 123px;
  background-color: var(--background-sales-color);
}

.card-item-delivery {
  width: 300px;
  height: 123px;
  background-color: var(--background-delivery-color);
}

/*goods*/

.popular-goods,
.goods {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.inner-popular-goods,
.inner-manufacturers {
  font-size: 30px;
  line-height: 30px;
  height: 89px;
  text-transform: uppercase;
  color: var(--background-special-color);
  background-color: var(--background-sections-color);
}

.popular-goods-list,
.goods-list {
  list-style: none;
}

.cross-out {
  text-decoration: line-through;
}

.manufacturers-item {
  list-style: none;
}

.goods-item,
.popular-goods-item {
  border: 1px solid var(--border-color);
}

/*Service*/

.service {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--background-header-color);
}

.service-title {
  text-transform: uppercase;
  color: var(--text-dark-color);
}

.service-menu-list {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  list-style: none;
}

.service-menu-list a {
  text-decoration: none;
  color: var(--text-light-color);
}

.service-info-list {
  list-style: none;
}

.service-info-title {
  text-transform: uppercase;
  color: var(--background-special-color);
}

/*About*/

.about-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.transport-companies {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.about_product {
  background-color: var(--background-header-color);
}

/*footer*/

.main-footer {
  font-size: 18px;
  line-height: 24px;
  color: var(--background-header-color);
  background-color: var(--background-special-color);
}

.footer-phone,
.footer-address {
  color: var(--text-addres);
  text-decoration: none;
}

.footer-navigation,
.footer-site-navigation {
  list-style: none;
}

.footer-navigation a {
  text-decoration: none;
  color: var(--background-header-color);
}

.footer-site-navigation a {
  text-decoration: none;
  color: var(--text-footer-color);
}

.social-footer {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--background-color);
}

.social-icon {
  list-style: none;
}

.mail,
.footer-copyright {
  color: var(--text-footer-color);
  text-decoration: none;
}

/*Button*/

.button {
  background-color: var(--button-color);
  color: var(--text-light-color);
  vertical-align: middle;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
}

.button-order {
  background-color: var(--special-button-color);
}

.button-login,
.button-registration {
  text-transform: none;
  background-color: var(--text-light-color);
}

.card-item-button {
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.3;
  background-color: var(--text-light-color);
}

.inner-button {
  font-size: 14px;
  line-height: 18px;
}

.button-selected {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid var(--border-color);
  background-color: var(--text-light-color);
}

/*text*/

.text-info {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/*breadcrumbs*/

.breadcrumbs-list {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.breadcrumbs-item a {
  text-decoration: none;
  color: inherit;
}

/*catalog*/

/*filter block*/

.filter-title {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--background-filter-color);
}

.category-title {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-list {
  list-style: none;
}

.filter-item {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

/*title catalog*/

.page-catalog-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--background-special-color);
  background-color: var(--background-header-color);
}

/*pagination*/

.pagination-list {
  font-size: 13px;
  line-height: 18px;
  list-style: none;
}

.pagination-item a {
  text-decoration: none;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  color: var(--text-dark-color);
}
